# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.env

# MySQL / database files
*.db
*.sqlite3
*.sqlite

# Logs and temporary files
*.log
*.tmp
*.swp

# OS files
.DS_Store
Thumbs.db

# IDE/editor folders
.vscode/

.kilo/