{% extends "base.html" %}

{% set title = "ETL Engine" %}
{% set page_title = "ETL Engine" %}
{% set page_description = "Data integration and quality management" %}
{% set active_page = "etl" %}

{% block content %}
<div class="bg-white rounded-lg shadow p-6">
    <h3 class="text-lg font-semibold mb-4">ETL Pipeline</h3>
    <div class="text-gray-500">
        ETL interface will be implemented here.
        <br>
        API endpoint: <code>/api/etl/quality-dashboard</code>
    </div>
</div>
{% endblock %}
